.card-container {
  justify-content: center;
  //width: 470px;
  //height: 525px;
  margin-left: 1%;
  margin-top: 1%;
}

.card-content {
  //width: 400px;
  /* Adjust this width as needed */
  margin-top: 1%;
  margin-left: 1%;
  width: 97%;
}

.main-container{
  min-height: 78.1vh;
}
