mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.userButton {
  margin-top: 16px;
  background-color: #1d3354;
  color: white;
}

.card-container {
  justify-content: center;
  width: 470px;
  height: 525px;
  margin-left: 37%;
  margin-top: 10%;
}

.card-content {
  width: 400px;
  /* Adjust this width as needed */
  margin-left: 7.5%;
}

.main-container{
  min-height: 78.1vh;
}

