/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
}

.dialog{
  background-color: var(--background);
  border: 2px solid red;
  border-radius: 50px;
}
